@charset "UTF-8";
body {
  max-width: 360px;
  margin: 10px auto;
}

body .calc-body-theme-1 {
  background: #010505;
}

body .calc-body-theme-1 .header,
body .calc-body-theme-1 .main {
  box-shadow: -2px -1px 3px #000 inset;
}

body .calc-body-theme-1 .footer {
  color: #fff;
}

body .calc-body-theme-1 .footer:hover {
  color: #ccc;
}

body .calc-body-theme-2 {
  background: #27d630;
}

body .calc-body-theme-2 .header,
body .calc-body-theme-2 .main {
  box-shadow: -2px -1px 3px #27d630 inset;
}

body .calc-body-theme-3 {
  background: #d66d27;
}

body .calc-body-theme-3 .header,
body .calc-body-theme-3 .main {
  box-shadow: -2px -1px 3px #d66d27 inset;
}

body .calc-body-theme-4 {
  background: #27d6c8;
}

body .calc-body-theme-4 .header,
body .calc-body-theme-4 .main {
  box-shadow: -2px -1px 3px #27d6c8 inset;
}

body .calc-body-theme-1,
body .calc-body-theme-2,
body .calc-body-theme-3,
body .calc-body-theme-4 {
  width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: -3px -3px 15px #fff inset;
  transition: 0.5s;
}

body .calc-body-theme-1 .header,
body .calc-body-theme-2 .header,
body .calc-body-theme-3 .header,
body .calc-body-theme-4 .header {
  box-sizing: border-box;
  padding: 10px 10px;
  max-width: 340px;
  background-color: #ccc;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}

body .calc-body-theme-1 .header .themes,
body .calc-body-theme-2 .header .themes,
body .calc-body-theme-3 .header .themes,
body .calc-body-theme-4 .header .themes {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body .calc-body-theme-1 .header .themes .theme,
body .calc-body-theme-2 .header .themes .theme,
body .calc-body-theme-3 .header .themes .theme,
body .calc-body-theme-4 .header .themes .theme {
  background-color: #62a4be;
  border-radius: 5px;
  outline: none;
}

body .calc-body-theme-1 .header .themes .theme-active,
body .calc-body-theme-2 .header .themes .theme-active,
body .calc-body-theme-3 .header .themes .theme-active,
body .calc-body-theme-4 .header .themes .theme-active {
  box-sizing: border-box;
  background-color: grey;
  border-radius: 5px;
  box-shadow: -1px -1px 0px #000;
  outline: none;
  border: 1px solid;
}

body .calc-body-theme-1 .main,
body .calc-body-theme-2 .main,
body .calc-body-theme-3 .main,
body .calc-body-theme-4 .main {
  box-sizing: border-box;
  padding: 10px 10px;
  max-width: 340px;
  background-color: #ccc;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 10px;
}

body .calc-body-theme-1 .main .output,
body .calc-body-theme-2 .main .output,
body .calc-body-theme-3 .main .output,
body .calc-body-theme-4 .main .output {
  margin: 10px auto;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 300px;
  height: 40px;
  background-color: #ccc;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px -1px 0px #000;
  text-align: center;
  position: relative;
}

body .calc-body-theme-1 .main .output .pre-text,
body .calc-body-theme-2 .main .output .pre-text,
body .calc-body-theme-3 .main .output .pre-text,
body .calc-body-theme-4 .main .output .pre-text {
  color: #000;
  max-width: 90%;
}

body .calc-body-theme-1 .main .output::before,
body .calc-body-theme-2 .main .output::before,
body .calc-body-theme-3 .main .output::before,
body .calc-body-theme-4 .main .output::before {
  position: absolute;
  content: '/jQulator© 2020/';
  display: block;
  top: center;
  right: center;
  color: #131212;
  opacity: 0.1;
  z-index: 3;
}

body .calc-body-theme-1 .main .buttons,
body .calc-body-theme-2 .main .buttons,
body .calc-body-theme-3 .main .buttons,
body .calc-body-theme-4 .main .buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: -1px -1px 0px #000;
}

body .calc-body-theme-1 .main .buttons .number-block,
body .calc-body-theme-1 .main .buttons .func-block,
body .calc-body-theme-2 .main .buttons .number-block,
body .calc-body-theme-2 .main .buttons .func-block,
body .calc-body-theme-3 .main .buttons .number-block,
body .calc-body-theme-3 .main .buttons .func-block,
body .calc-body-theme-4 .main .buttons .number-block,
body .calc-body-theme-4 .main .buttons .func-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  margin: 21px 0 0 10px;
}

body .calc-body-theme-1 .main .buttons .number-block .btn,
body .calc-body-theme-1 .main .buttons .func-block .btn,
body .calc-body-theme-2 .main .buttons .number-block .btn,
body .calc-body-theme-2 .main .buttons .func-block .btn,
body .calc-body-theme-3 .main .buttons .number-block .btn,
body .calc-body-theme-3 .main .buttons .func-block .btn,
body .calc-body-theme-4 .main .buttons .number-block .btn,
body .calc-body-theme-4 .main .buttons .func-block .btn {
  width: 40px;
  background-color: #299614;
  outline: none;
  border-radius: 30%;
  text-align: center;
  box-shadow: -1px -1px 0px #000;
  padding: 10px;
}

body .calc-body-theme-1 .main .buttons .number-block .number,
body .calc-body-theme-1 .main .buttons .func-block .number,
body .calc-body-theme-2 .main .buttons .number-block .number,
body .calc-body-theme-2 .main .buttons .func-block .number,
body .calc-body-theme-3 .main .buttons .number-block .number,
body .calc-body-theme-3 .main .buttons .func-block .number,
body .calc-body-theme-4 .main .buttons .number-block .number,
body .calc-body-theme-4 .main .buttons .func-block .number {
  color: blue;
  margin: 0px 10px 21px 0;
  padding: 10px;
  transition: 0.4s;
}

body .calc-body-theme-1 .main .buttons .number-block .number:active,
body .calc-body-theme-1 .main .buttons .func-block .number:active,
body .calc-body-theme-2 .main .buttons .number-block .number:active,
body .calc-body-theme-2 .main .buttons .func-block .number:active,
body .calc-body-theme-3 .main .buttons .number-block .number:active,
body .calc-body-theme-3 .main .buttons .func-block .number:active,
body .calc-body-theme-4 .main .buttons .number-block .number:active,
body .calc-body-theme-4 .main .buttons .func-block .number:active {
  background-color: grey;
}

body .calc-body-theme-1 .main .buttons .number-block .function,
body .calc-body-theme-1 .main .buttons .func-block .function,
body .calc-body-theme-2 .main .buttons .number-block .function,
body .calc-body-theme-2 .main .buttons .func-block .function,
body .calc-body-theme-3 .main .buttons .number-block .function,
body .calc-body-theme-3 .main .buttons .func-block .function,
body .calc-body-theme-4 .main .buttons .number-block .function,
body .calc-body-theme-4 .main .buttons .func-block .function {
  color: red;
  background-color: #ccc;
  font-weight: 500;
  margin: 0 0 5px 0;
}

body .calc-body-theme-1 .main .buttons .number-block .deactive,
body .calc-body-theme-1 .main .buttons .func-block .deactive,
body .calc-body-theme-2 .main .buttons .number-block .deactive,
body .calc-body-theme-2 .main .buttons .func-block .deactive,
body .calc-body-theme-3 .main .buttons .number-block .deactive,
body .calc-body-theme-3 .main .buttons .func-block .deactive,
body .calc-body-theme-4 .main .buttons .number-block .deactive,
body .calc-body-theme-4 .main .buttons .func-block .deactive {
  color: grey;
  background-color: #ccc;
  font-weight: 500;
  margin: 0 0 5px 0;
  position: relative;
}

body .calc-body-theme-1 .main .buttons .number-block .deactive .errore-class-function,
body .calc-body-theme-1 .main .buttons .func-block .deactive .errore-class-function,
body .calc-body-theme-2 .main .buttons .number-block .deactive .errore-class-function,
body .calc-body-theme-2 .main .buttons .func-block .deactive .errore-class-function,
body .calc-body-theme-3 .main .buttons .number-block .deactive .errore-class-function,
body .calc-body-theme-3 .main .buttons .func-block .deactive .errore-class-function,
body .calc-body-theme-4 .main .buttons .number-block .deactive .errore-class-function,
body .calc-body-theme-4 .main .buttons .func-block .deactive .errore-class-function {
  color: red;
  font-size: 20px;
  position: absolute;
}

body .calc-body-theme-1 .main .reset-func .btn-reset,
body .calc-body-theme-2 .main .reset-func .btn-reset,
body .calc-body-theme-3 .main .reset-func .btn-reset,
body .calc-body-theme-4 .main .reset-func .btn-reset {
  box-sizing: border-box;
  padding: 10px 10px;
  width: 300px;
  background-color: #df0f0f;
  border-radius: 10px;
  color: #fff;
  box-shadow: -1px -1px 0px #000;
  outline: none;
}

body .calc-body-theme-1 .footer,
body .calc-body-theme-2 .footer,
body .calc-body-theme-3 .footer,
body .calc-body-theme-4 .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 0 10px;
  text-decoration: none;
  transition: 0.4s;
}

body .calc-body-theme-1 .footer:hover,
body .calc-body-theme-2 .footer:hover,
body .calc-body-theme-3 .footer:hover,
body .calc-body-theme-4 .footer:hover {
  color: #cfc9c9;
}
